.answer {
  display: flex;
  height: 100px;
  margin: 10px;
  width: 80%;
  min-width: 500px;
  perspective: 1000px;
}

.content {
  display: flex;
  flex: 1;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.content.answerRevealed {
  transform: rotateY(180deg);
}

.front,
.verse {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #fff;
  color: #000;
  align-items: center;
  border-radius: 12px;
  padding: 15px;
}

.verse {
  transform: rotateY(180deg);
}

.verse > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.correctAnswer {
  background-color: #2baa6d;
}

.wrongAnswer {
  background-color: #e44a4c;
}

.correctAnswer .value,
.wrongAnswer .value {
  font-size: 1.5rem;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 10px;
  color: #fff;
}

.value {
  font-size: 1.3rem;
  font-weight: 700;
}
