.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 8px 25px 0px 25px;
  height: 100vh;

  @media (max-width: 620px) {
    font-size: 1.2rem;
    height: auto;
  }
}

.title {
  @media (max-width: 620px) {
    margin-bottom: 6px;
  }
}

.stastistics {
  display: flex;

  @media (max-width: 620px) {
    flex-direction: column;
  }
}
